/*
#id
.class
*/
/*
#543F34 = brun moyen
#492513 = brun foncé
*/
.btnAction{
width: 100%;
height: 100%;
}

.btnNo{
width: 100%;
height: 100%;
}

#maTable{
border-style:solid;
border-color:#492513;
background-color:#543F34;
border-collapse:collapse;
margin:auto;
}

#maTable td{
border:1px solid #543F34;
}

#tableItems td{
border:1px solid black;
}

#tableItems{
margin:auto; /*centre*/
text-align:right;
border-style:solid;
border-collapse:collapse;
}

#wrapper{
margin:auto;
width:1000px;
height:600px;
padding:10px;
}

#txtbox{
width:99%;
text-align:right;
}

.txt{
text-align:right;
}

#pFac{
text-align:center;
}

#tableItems th{
width:100px;
height:25px;
text-align:center;
}

#tabletotal{
text-align:right;
border-collapse:collapse;
border-bottom:none;
margin:auto;
}

#tabletotal td{
border:1px solid black;
width:100px;
height:25px;
text-align:right;
border-top:none;
}
#sousTotal{
margin:auto;
width:50%;
text-align:center;
}
.btnNo{
background-color:#6F4A37;
border-radius: 10px;
border-color: yellow;
}
#myBody{
background-color:#6F4A37;
}
.txt{
background-color:#9A7E75;
border-color:#492513;
}
#txtbox{
background-color:#9A7E75;
border-color:#492513;
}
.btnAction{
background-color:#6B4D3E;
border-color:#473329;
}
#celltotal{
color:yellow;
}